apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: wevote4eu
  namespace: wevote4eu
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/min-scale: "1"
        autoscaling.knative.dev/max-scale: "1"
    spec:
      containers:
        - image: commitglobal/wevote4eu:1.3.4
          resources:
            requests:
              cpu: 50m
              memory: 128M
            limits:
              cpu: 100m
              memory: 256M
          ports:
            - containerPort: 80
          env:
            - name: APP_URL
              value: "https://wevote4.eu"
            - name: APP_TIMEZONE
              value: "Europe/Bucharest"
            - name: GOOGLE_ANALYTICS_ID
              value: "G-9SB6HGE4BR"
            - name: APP_KEY
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: APP_KEY
            - name: VOTEMONITOR_ENABLED
              value: "true"
            - name: VOTEMONITOR_APIKEY
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: VOTEMONITOR_APIKEY
            - name: VOTEMONITOR_URL
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: VOTEMONITOR_URL
            - name: DB_CONNECTION
              value: "mysql"
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: DB_HOST
            - name: DB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: DB_DATABASE
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: DB_PASSWORD
            - name: FILAMENT_FILESYSTEM_DISK
              value: "s3"
            - name: FILESYSTEM_DISK
              value: "s3"
            - name: MEDIA_DISK
              value: "s3"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: AWS_SECRET_ACCESS_KEY
            - name: AWS_DEFAULT_REGION
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: AWS_DEFAULT_REGION
            - name: AWS_BUCKET
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: AWS_BUCKET
            - name: AWS_URL
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: AWS_URL
            - name: REVERB_APP_ID
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: REVERB_APP_ID
            - name: REVERB_APP_KEY
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: REVERB_APP_KEY
            - name: REVERB_APP_SECRET
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: REVERB_APP_SECRET
            - name: REVERB_HOST
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: REVERB_HOST
            - name: SENTRY_LARAVEL_DSN
              valueFrom:
                secretKeyRef:
                  name: wevote4eu-secret
                  key: SENTRY_LARAVEL_DSN
            - name: SENTRY_TRACES_SAMPLE_RATE
              value: "0.2"
            - name: SENTRY_PROFILES_SAMPLE_RATE
              value: "0.5"
