fullnameOverride: centre-testare-hiv

image:
  repository: code4romania/centre-testare-hiv
  tag: v1.9

ingress:
  enabled: true
  annotations:
    "cert-manager.io/cluster-issuer": letsencrypt
    "nginx.ingress.kubernetes.io/from-to-www-redirect": "true"
  hosts:
    - host: centretestarehiv-prod.heroesof.tech
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: web-ssl
      hosts:
        - centretestarehiv-prod.heroesof.tech

service:
  port: 8050

resources:
  requests:
    cpu: 10m
    memory: 800M
  limits:
    cpu: 250m
    memory: 2Gi

env:
  - name: ENVIRONMENT
    value: "production"
  - name: HOME_SITE_URL
    value: "testarehiv.edreptultau.ro"
  - name: SITE_URL
    value: "centretestarehiv-prod.heroesof.tech"
  - name: DEBUG
    value: "no"
  - name: RUN_MIGRATION
    value: "yes"
  - name: RUN_COMPILEMESSAGES
    value: "yes"
  - name: RUN_LOAD_DUMMY_DATA
    value: "no"
  - name: RUN_COLLECT_STATIC
    value: "yes"
  - name: RUN_DEV_SERVER
    value: "no"
  - name: ENABLE_DEBUG_TOOLBAR
    value: "no"
  - name: ALLOWED_HOSTS
    value: "testarehiv.edreptultau.ro,centretestarehiv-prod.heroesof.tech"
  - name: CORS_ALLOWED_ORIGINS
    value: "https://testarehiv.edreptultau.ro,https://centretestarehiv-prod.heroesof.tech"
  - name: CORS_ALLOWED_ORIGIN_REGEXES
  - name: EMAIL_HOST
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: email_host
  - name: EMAIL_HOST_USER
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: email_host_user
  - name: EMAIL_HOST_PASSWORD
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: email_host_password
  - name: EMAIL_PORT
    value: "465"
  - name: EMAIL_USE_TLS
    value: "no"
  - name: EMAIL_USE_SSL
    value: "yes"
  - name: NO_REPLY_EMAIL
    value: "noreply@edreptultau.ro"
  - name: DEFAULT_FROM_EMAIL
    value: "noreply@edreptultau.ro"
  - name: DATABASE_HOST
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: database_host
  - name: DATABASE_PORT
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: database_port
  - name: DATABASE_NAME
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: database_name
  - name: DATABASE_USER
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: database_user
  - name: DATABASE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: database_password
  - name: SECRET_KEY
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: secret_key
  - name: REDIS_HOST
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: redis_host
  - name: REDIS_PORT
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: redis_port
  - name: GUNICORN_WORKERS
    value: "10"
  - name: HERE_MAPS_API_KEY
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: here_maps_api_key
  - name: SUPER_ADMIN_EMAIL
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: super_admin_email
  - name: SUPER_ADMIN_PASS
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: super_admin_pass
  - name: SUPER_ADMIN_FIRST_NAME
    value: "Super"
  - name: SUPER_ADMIN_LAST_NAME
    value: "Admin"
  - name: USE_S3
    value: "yes"
  - name: AWS_ACCESS_KEY_ID
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: aws_access_key_id
  - name: AWS_S3_REGION_NAME
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: aws_s3_region_name
  - name: AWS_SECRET_ACCESS_KEY
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: aws_secret_access_key
  - name: AWS_STORAGE_BUCKET_NAME
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: aws_storage_bucket_name
  - name: AWS_SUBDOMAIN
    valueFrom:
      secretKeyRef:
        name: centre-testare-hiv-secret
        key: aws_subdomain
