apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: basic-demo
  namespace: basic-demo
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: "3"
    spec:
      containers:
        - image: decembrya/basic-demo-api:v1.0
          resources:
            requests:
              cpu: 100m
              memory: 1000M
            limits:
              cpu: 200m
              memory: 300M
          ports:
            - containerPort: 80
          env:
            - name: ASPNETCORE__ENVIRONMENT
              value: "Production"
 