apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: e-cutremur
  namespace: e-cutremur
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: "3"
    spec:
      containers:
        - image: code4romania/e-cutremur:1.0.1
          resources:
            requests:
              cpu: 100m
              memory: 300M
            limits:
              cpu: 500m
              memory: 512M
          ports:
            - containerPort: 80
          env:
            - name: WORDPRESS_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: e-cutremur-secret
                  key: WORDPRESS_DB_HOST
            - name: WORDPRESS_DB_USER
              valueFrom:
                secretKeyRef:
                  name: e-cutremur-secret
                  key: WORDPRESS_DB_USER
            - name: WORDPRESS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: e-cutremur-secret
                  key: WORDPRESS_DB_PASSWORD
            - name: WORDPRESS_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: e-cutremur-secret
                  key: WORDPRESS_DB_NAME
