apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: vot-diaspora
  namespace: vot-diaspora
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/max-scale: "1"
    spec:
      containers:
        - image: code4romania/vot-diaspora:v1.0
          resources:
            limits:
              cpu: 100m
              memory: 256M
          ports:
            - containerPort: 80
          env:
            - name: HereMaps__Token
              valueFrom:
                secretKeyRef:
                  name: vot-diaspora-secret
                  key: heremaps_token
            - name: Authentication__Secret
              valueFrom:
                secretKeyRef:
                  name: vot-diaspora-secret
                  key: authentication_secret
            - name: UserSettings__Users__0__Name
              value: "Super admin"
            - name: UserSettings__Users__0__UserName
              valueFrom:
                secretKeyRef:
                  name: vot-diaspora-secret
                  key: admin_username
            - name: UserSettings__Users__0__Password
              valueFrom:
                secretKeyRef:
                  name: vot-diaspora-secret
                  key: admin_password
            - name: UserSettings__Users__0__Scopes__0
              value: "content"
            - name: UserSettings__Users__0__Scopes__1
              value: "polling-stations"
