fullnameOverride: colectare-declaratii

image:
  repository: code4romania/colectare-declaratii
  tag: 0.1.7

ingress:
  enabled: true
  annotations:
    "cert-manager.io/cluster-issuer": letsencrypt
  hosts:
    - host: declaratii.code4.ro
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: web-ssl
      hosts:
        - declaratii.code4.ro

livenessProbe: null
readinessProbe: null

resources:
  requests:
    cpu: 500m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 512Mi

env:
  - name: APP_URL
    value: "https://declaratii.code4.ro"
  - name: APP_KEY
    valueFrom:
      secretKeyRef:
        name: colectare-declaratii-secret
        key: APP_KEY
  - name: DB_CONNECTION
    value: "mysql"
  - name: DB_HOST
    valueFrom:
      secretKeyRef:
        name: colectare-declaratii-secret
        key: DB_HOST
  - name: DB_DATABASE
    valueFrom:
      secretKeyRef:
        name: colectare-declaratii-secret
        key: DB_DATABASE
  - name: DB_USERNAME
    valueFrom:
      secretKeyRef:
        name: colectare-declaratii-secret
        key: DB_USERNAME
  - name: DB_PASSWORD
    valueFrom:
      secretKeyRef:
        name: colectare-declaratii-secret
        key: DB_PASSWORD
  - name: FILAMENT_FILESYSTEM_DISK
    value: "s3"
  - name: FILESYSTEM_DISK
    value: "s3"
  - name: AWS_ACCESS_KEY_ID
    valueFrom:
      secretKeyRef:
        name: colectare-declaratii-secret
        key: AWS_ACCESS_KEY_ID
  - name: AWS_SECRET_ACCESS_KEY
    valueFrom:
      secretKeyRef:
        name: colectare-declaratii-secret
        key: AWS_SECRET_ACCESS_KEY
  - name: AWS_DEFAULT_REGION
    valueFrom:
      secretKeyRef:
        name: colectare-declaratii-secret
        key: AWS_DEFAULT_REGION
  - name: AWS_BUCKET
    valueFrom:
      secretKeyRef:
        name: colectare-declaratii-secret
        key: AWS_BUCKET
  - name: AWS_BUCKET_ROOT
    value: "uploads"
  - name: SENTRY_TRACES_SAMPLE_RATE
    value: "0.2"
  - name: SENTRY_PROFILES_SAMPLE_RATE
    value: "0.5"
