fullnameOverride: "vm-stack"

kube-state-metrics:
  metricLabelsAllowlist:
    - pods=[*]
    - deployments=[app.kubernetes.io/name,app.kubernetes.io/component,app.kubernetes.io/instance]

vmsingle:
  spec:
    retentionPeriod: "1"
    extraArgs:
      maxLabelsPerTimeseries: "40"
    resources:
      requests:
        cpu: 150m
        memory: 1Gi
      limits:
        memory: 2Gi

vmagent:
  spec:
    resources:
      requests:
        cpu: 60m
        memory: 130M
      limits:
        memory: 400M

prometheus-node-exporter:
  tolerations:
    - effect: NoExecute
      key: CriticalAddonsOnly
      operator: Exists

kubeControllerManager:
  enabled: false
coreDns:
  enabled: false
kubeEtcd:
  enabled: false
kubeScheduler:
  enabled: false
alertmanager:
  spec:
    configSecret: "alertmanager-config"

defaultRules:
  groups:
    general:
      create: false

defaultDashboards:
  annotations:
    argocd.argoproj.io/sync-options: ServerSideApply=true

grafana:
  sidecar:
    dashboards:
      searchNamespace: ALL
    resources:
      requests:
        memory: 100Mi
      limits:
        memory: 150Mi
  plugins:
    - victoriametrics-logs-datasource
  vmScrape:
    enabled: false
  admin:
    existingSecret: grafana-secret
  envFromSecret: grafana-secret
  persistence:
    enabled: true
  resources:
    requests:
      memory: 150Mi
    limits:
      memory: 200Mi
  ingress:
    enabled: true
    annotations:
      "nginx.ingress.kubernetes.io/auth-type": basic
      "nginx.ingress.kubernetes.io/auth-secret": basic-auth
      "nginx.ingress.kubernetes.io/auth-realm": "Authentication Required - internal"
      "cert-manager.io/cluster-issuer": letsencrypt
    hosts:
      - metrics.code4.ro
    tls:
      - secretName: web-ssl
        hosts:
          - metrics.code4.ro
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: victoria-logs
          uid: victoria-logs
          type: victoriametrics-logs-datasource
          orgId: 1
          url: http://victoria-logs-victoria-logs-single-server.victoria-logs.svc.cluster.local:9428
          access: proxy

  grafana.ini:
    server:
      domain: metrics.code4.ro
      root_url: https://metrics.code4.ro
    users:
      allow_sign_up: false
      allow_org_create: false
    log:
      mode: console
      level: error
    auth.google:
      enabled: true
      client_id: 578670592407-0r9vnq4l6r6ck8jpo1gthohfq520rgt7.apps.googleusercontent.com
      client_secret: ${google-client-secret}
      allowed_domains: code4.ro commitglobal.org

  alerting:
    contactpoints.yaml:
      apiVersion: 1
      contactPoints:
        - orgId: 1
          name: Code4Ro Slack
          receivers:
            - uid: XTCAjgR4z
              type: slack
              settings:
                url: ${slack-webhook}
