apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: ec-contest
  namespace: ec-contest
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "1"
        autoscaling.knative.dev/maxScale: "1"
    spec:
      containers:
        - image: code4romania/ec-contest:2.0.2
          resources:
            limits:
              cpu: 500m
              memory: 256M
          ports:
            - containerPort: 80
          env:
            - name: APP_DEBUG
              value: "false"
            - name: APP_NAME
              value: "EuroQuiz"
            - name: APP_KEY
              valueFrom:
                secretKeyRef:
                  name: ec-contest-secret
                  key: APP_KEY
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: ec-contest-secret
                  key: DB_HOST
            - name: DB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: ec-contest-secret
                  key: DB_DATABASE
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: ec-contest-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ec-contest-secret
                  key: DB_PASSWORD
            - name: MAIL_HOST
              valueFrom:
                secretKeyRef:
                  name: ec-contest-secret
                  key: MAIL_HOST
            - name: MAIL_USERNAME
              valueFrom:
                secretKeyRef:
                  name: ec-contest-secret
                  key: MAIL_USERNAME
            - name: MAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: ec-contest-secret
                  key: MAIL_PASSWORD
            - name: MAIL_FROM_ADDRESS
              valueFrom:
                secretKeyRef:
                  name: ec-contest-secret
                  key: MAIL_FROM_ADDRESS
            - name: MAIL_FROM_NAME
              value: "EuroQuiz"
