apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: fii-aliat
  namespace: fii-aliat
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: "1"
    spec:
      containers:
        - image: code4romania/fii-aliat-api:1.0.4
          resources:
            requests:
              cpu: 50m
              memory: 64M
            limits:
              cpu: 250m
              memory: 128M
          ports:
            - containerPort: 1337
          env:
            - name: RECAPTCHA_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: fii-aliat-secret
                  key: recapcha_key
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: fii-aliat-secret
                  key: database_url
            - name: ADMIN_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: fii-aliat-secret
                  key: admin_jwt_secret
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: fii-aliat-secret
                  key: jwt_secret
