fullnameOverride: fii-aliat

image:
  repository: code4romania/fii-aliat-api
  tag: 1.0.4

ingress:
  enabled: true
  annotations:
    "cert-manager.io/cluster-issuer": letsencrypt
  hosts:
    - host: api.fiialiat.ro
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: web-ssl
      hosts:
        - api.fiialiat.ro

service:
  port: 1337

resources:
  requests:
    cpu: 10m
    memory: 100Mi
  limits:
    cpu: 250m
    memory: 128Mi

env:
  - name: RECAPTCHA_SECRET_KEY
    valueFrom:
      secretKeyRef:
        name: fii-aliat-secret
        key: recapcha_key
  - name: DATABASE_URL
    valueFrom:
      secretKeyRef:
        name: fii-aliat-secret
        key: database_url
  - name: ADMIN_JWT_SECRET
    valueFrom:
      secretKeyRef:
        name: fii-aliat-secret
        key: admin_jwt_secret
  - name: JWT_SECRET
    valueFrom:
      secretKeyRef:
        name: fii-aliat-secret
        key: jwt_secret
