apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: centre-testare-hiv
  namespace: centre-testare-hiv
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/max-scale: "3"
        autoscaling.knative.dev/min-scale: "1"
    spec:
      containers:
        - image: code4romania/centre-testare-hiv:v1.3
          resources:
            requests:
              cpu: 300m
              memory: 250M
            limits:
              cpu: 1000m
              memory: 500M
          ports:
            - containerPort: 8050
          env:
            - name: ENVIRONMENT
              value: "production"
            - name: HOME_SITE_URL
              value: "testarehiv.edreptultau.ro"
            - name: SITE_URL
              value: "testarehiv-api.edreptultau.ro"  
            - name: DEBUG
              value: "no"
            - name: RUN_MIGRATION
              value: "yes"
            - name: RUN_COMPILEMESSAGES
              value: "yes"
            - name: RUN_LOAD_DUMMY_DATA
              value: "no"
            - name: RUN_COLLECT_STATIC
              value: "yes"
            - name: RUN_DEV_SERVER
              value: "no"
            - name: ENABLE_DEBUG_TOOLBAR
              value: "no"
            - name : ALLOWED_HOSTS
              value: "testarehiv.edreptultau.ro,testarehiv-api.edreptultau.ro"
            - name : CORS_ALLOWED_ORIGINS
              value: "https://testarehiv.edreptultau.ro,https://testarehiv-api.edreptultau.ro"
            - name : CORS_ALLOWED_ORIGIN_REGEXES
              value: ""
            - name: EMAIL_HOST
              valueFrom:
                secretKeyRef:
                  name: centre-testare-hiv-secret
                  key: email_host
            - name: EMAIL_HOST_USER
              valueFrom:
                secretKeyRef:
                  name: centre-testare-hiv-secret
                  key: email_host_user
            - name: EMAIL_HOST_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: centre-testare-hiv-secret
                  key: email_host_password
            - name: EMAIL_PORT
              value: "465"
            - name: EMAIL_USE_TLS
              value: "yes"
            - name: EMAIL_USE_SSL
              value: "no"
            - name: NO_REPLY_EMAIL
              value: "noreply@edreptultau.ro"
            - name: DEFAULT_FROM_EMAIL
              value: "noreply@edreptultau.ro"
            - name: DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  name: centre-testare-hiv-secret
                  key: database_host
            - name: DATABASE_PORT
              valueFrom:
                secretKeyRef:
                  name: centre-testare-hiv-secret
                  key: database_port
            - name: DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  name: centre-testare-hiv-secret
                  key: database_name
            - name: DATABASE_USER
              valueFrom:
                secretKeyRef:
                  name: centre-testare-hiv-secret
                  key: database_user
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: centre-testare-hiv-secret
                  key: database_password
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: centre-testare-hiv-secret
                  key: secret_key
            - name: REDIS_HOST
              valueFrom:
                secretKeyRef:
                  name: centre-testare-hiv-secret
                  key: redis_host
            - name: REDIS_PORT
              valueFrom:
                secretKeyRef:
                  name: centre-testare-hiv-secret
                  key: redis_port
            - name: GUNICORN_WORKERS
              value: "10"
            - name: HERE_MAPS_API_KEY
              valueFrom:
                secretKeyRef:
                  name: centre-testare-hiv-secret
                  key: here_maps_api_key
            - name: SUPER_ADMIN_EMAIL
              valueFrom:
                secretKeyRef:
                  name: centre-testare-hiv-secret
                  key: super_admin_email
            - name: SUPER_ADMIN_PASS
              valueFrom:
                secretKeyRef:
                  name: centre-testare-hiv-secret
                  key: super_admin_pass
            - name: SUPER_ADMIN_FIRST_NAME
              value: "Super"
            - name: SUPER_ADMIN_LAST_NAME
              value: "Admin"