fullnameOverride: seismic-risc

image:
  repository: code4romania/seismic-risc
  tag: 1.1.2

ingress:
  enabled: true
  annotations:
    "cert-manager.io/cluster-issuer": letsencrypt
  hosts:
    - host: api.acasainsiguranta.ro
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: web-ssl
      hosts:
        - api.acasainsiguranta.ro

resources:
  requests:
    cpu: 10m
    memory: 400M
  limits:
    cpu: 100m
    memory: 1024M

env:
  - name: RUN_CREATE_SUPER_USER
    value: "False"
  - name: GUNICORN_PORT
    value: "80"
  - name: GUNICORN_WORKERS
    value: "3"
  - name: ALLOWED_HOSTS
    value: "api.acasainsiguranta.ro"
  - name: CORS_ALLOWED_ORIGINS
    value: "https://acasainsiguranta.ro,https://seismic-risc.vercel.app"
  - name: CORS_ALLOWED_ORIGIN_REGEXES
    value: "https://acasainsiguranta.ro,https://seismic-risc.vercel.app"
  - name: CSRF_TRUSTED_ORIGINS
    value: "https://api.acasainsiguranta.ro"
  - name: SECRET_KEY
    valueFrom:
      secretKeyRef:
        name: seismic-risc-secret
        key: SECRET_KEY
  - name: HERE_MAPS_API_KEY
    valueFrom:
      secretKeyRef:
        name: seismic-risc-secret
        key: HERE_MAPS_API_KEY
  - name: DATABASE_NAME
    valueFrom:
      secretKeyRef:
        name: seismic-risc-secret
        key: DATABASE_NAME
  - name: DATABASE_USER
    valueFrom:
      secretKeyRef:
        name: seismic-risc-secret
        key: DATABASE_USER
  - name: DATABASE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: seismic-risc-secret
        key: DATABASE_PASSWORD
  - name: DATABASE_HOST
    valueFrom:
      secretKeyRef:
        name: seismic-risc-secret
        key: DATABASE_HOST
  - name: DATABASE_PORT
    valueFrom:
      secretKeyRef:
        name: seismic-risc-secret
        key: DATABASE_PORT
