apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: e-cutremur
  namespace: e-cutremur
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/min-scale: "1"
        autoscaling.knative.dev/max-scale: "3"
    spec:
      containers:
        - image: code4romania/e-cutremur:1.0.2
          resources:
            requests:
              cpu: 10m
              memory: 156M
            limits:
              cpu: 250m
              memory: 512M
          ports:
            - containerPort: 80
          env:
            - name: WORDPRESS_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: e-cutremur-secret
                  key: WORDPRESS_DB_HOST
            - name: WORDPRESS_DB_USER
              valueFrom:
                secretKeyRef:
                  name: e-cutremur-secret
                  key: WORDPRESS_DB_USER
            - name: WORDPRESS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: e-cutremur-secret
                  key: WORDPRESS_DB_PASSWORD
            - name: WORDPRESS_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: e-cutremur-secret
                  key: WORDPRESS_DB_NAME
