fullnameOverride: e-cutremur

image:
  repository: code4romania/e-cutremur
  tag: 1.0.2

ingress:
  enabled: true
  annotations:
    "cert-manager.io/cluster-issuer": letsencrypt
  hosts:
    - host: e-cutremur.ro
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: web-ssl
      hosts:
        - e-cutremur.ro

resources:
  requests:
    cpu: 10m
    memory: 300M
  limits:
    cpu: 250m
    memory: 512M

env:
  - name: WORDPRESS_DB_HOST
    valueFrom:
      secretKeyRef:
        name: e-cutremur-secret
        key: WORDPRESS_DB_HOST
  - name: WORDPRESS_DB_USER
    valueFrom:
      secretKeyRef:
        name: e-cutremur-secret
        key: WORDPRESS_DB_USER
  - name: WORDPRESS_DB_PASSWORD
    valueFrom:
      secretKeyRef:
        name: e-cutremur-secret
        key: WORDPRESS_DB_PASSWORD
  - name: WORDPRESS_DB_NAME
    valueFrom:
      secretKeyRef:
        name: e-cutremur-secret
        key: WORDPRESS_DB_NAME
