apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: help2help
  namespace: help2help
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "1"
        autoscaling.knative.dev/maxScale: "1"
    spec:
      containers:
        - image: code4romania/harta-help2help-ucraina:1.2.2
          resources:
            limits:
              cpu: 500m
              memory: 256M
          ports:
            - containerPort: 80
          env:
            - name: APP_DEBUG
              value: "false"
            - name: APP_URL
              value: "https://servicii.helptohelpukraine.ro"
            - name: APP_NAME
              value: "Help2Help Ukraine"
            - name: APP_KEY
              valueFrom:
                secretKeyRef:
                  name: help2help-secret
                  key: APP_KEY
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: help2help-secret
                  key: DB_HOST
            - name: DB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: help2help-secret
                  key: DB_DATABASE
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: help2help-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: help2help-secret
                  key: DB_PASSWORD
            - name: MAIL_HOST
              valueFrom:
                secretKeyRef:
                  name: help2help-secret
                  key: MAIL_HOST
            - name: MAIL_USERNAME
              valueFrom:
                secretKeyRef:
                  name: help2help-secret
                  key: MAIL_USERNAME
            - name: MAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: help2help-secret
                  key: MAIL_PASSWORD
            - name: MAIL_FROM_ADDRESS
              valueFrom:
                secretKeyRef:
                  name: help2help-secret
                  key: MAIL_FROM_ADDRESS
            - name: GOOGLE_MAPS_API_KEY
              valueFrom:
                secretKeyRef:
                  name: help2help-secret
                  key: GOOGLE_MAPS_API_KEY
