apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: code-for-map-api
  namespace: code-for-map-api
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "1"
        autoscaling.knative.dev/maxScale: "1"
    spec:
      containers:
        - image: code4romania/code-for-map-api:v1.10
          resources:
            requests:
              cpu: 100m
              memory: 256M
            limits:
              cpu: 250m
              memory: 512M
          ports:
            - containerPort: 1337
          env:
            - name: NODE_ENV
              value: "production"
            - name: DATABASE_CLIENT
              value: "postgres"
            - name: DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: database_host
            - name: DATABASE_PORT
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: database_port
            - name: DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: database_name
            - name: DATABASE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: database_username
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: database_password
            - name: APP_KEYS
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: app_keys
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: jwt_secret
            - name: ADMIN_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: admin_jwt_secret
            - name: API_TOKEN_SALT
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: api_token_salt
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: aws_access_key_id
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: aws_access_key_id
            - name: AWS_ACCESS_SECRET
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: aws_access_secret
            - name: AWS_REGION
              value: "eu-central-1"
            - name: AWS_BUCKET
              value: "code-for-map-api"
            - name: AWS_BUCKET_ACL
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: aws_bucket_acl
            - name: CDN_BASE_URL
              value: "https://d3nrmb4u1g4f18.cloudfront.net"
            - name: BUCKET_PREFIX
              value: "strapi-assets"
            - name: SMTP_HOST
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: smtp_host
            - name: SMTP_PORT
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: smtp_port
            - name: SMTP_USERNAME
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: smtp_username
            - name: SMTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: code-for-map-api-secret
                  key: smtp_password
            - name: SMTP_FROM_EMAIL
              value: "code-for-map@heroesof.tech"
            - name: SMTP_REPLY_TO_EMAIL
              value: "code-for-map@heroesof.tech"
