apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: rvm
  namespace: rvm
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/min-scale: "1"
        autoscaling.knative.dev/max-scale: "1"
    spec:
      containers:
        - image: code4romania/rvm:1.0.1
          resources:
            requests:
              cpu: 10m
              memory: 70M
            limits:
              cpu: 500m
              memory: 256M
          ports:
            - containerPort: 80
          env:
            - name: APP_NAME
              value: "RVM"
            - name: APP_URL
              value: "https://rvmapp.ro"
            - name: APP_KEY
              valueFrom:
                secretKeyRef:
                  name: rvm-secret
                  key: APP_KEY
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: rvm-secret
                  key: DB_HOST
            - name: DB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: rvm-secret
                  key: DB_DATABASE
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: rvm-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rvm-secret
                  key: DB_PASSWORD
            - name: MAIL_HOST
              valueFrom:
                secretKeyRef:
                  name: rvm-secret
                  key: MAIL_HOST
            - name: MAIL_USERNAME
              valueFrom:
                secretKeyRef:
                  name: rvm-secret
                  key: MAIL_USERNAME
            - name: MAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rvm-secret
                  key: MAIL_PASSWORD
            - name: MAIL_FROM_ADDRESS
              valueFrom:
                secretKeyRef:
                  name: rvm-secret
                  key: MAIL_FROM_ADDRESS
            - name: MAIL_FROM_NAME
              value: "RVM"
            - name: FILESYSTEM_DISK
              value: "s3"
            - name: MEDIA_DISK
              value: "s3"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: rvm-secret
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: rvm-secret
                  key: AWS_SECRET_ACCESS_KEY
            - name: AWS_DEFAULT_REGION
              valueFrom:
                secretKeyRef:
                  name: rvm-secret
                  key: AWS_DEFAULT_REGION
            - name: AWS_BUCKET
              valueFrom:
                secretKeyRef:
                  name: rvm-secret
                  key: AWS_BUCKET
            - name: SENTRY_LARAVEL_DSN
              valueFrom:
                secretKeyRef:
                  name: rvm-secret
                  key: SENTRY_LARAVEL_DSN
            - name: SENTRY_TRACES_SAMPLE_RATE
              value: "0.2"
            - name: SENTRY_PROFILES_SAMPLE_RATE
              value: "0.5"
