apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: sunrise
  namespace: sunrise
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/min-scale: "1"
        autoscaling.knative.dev/max-scale: "1"
    spec:
      containers:
        - image: code4romania/sunrise:1.0.2
          resources:
            requests:
              cpu: 250m
              memory: 1Gi
            limits:
              cpu: 1250m
              memory: 2Gi
          ports:
            - containerPort: 80
          env:
            - name: APP_NAME
              value: "Sunrise"
            - name: APP_URL
              value: "https://app.stopviolenteidomestice.ro"
            - name: APP_KEY
              valueFrom:
                secretKeyRef:
                  name: sunrise-secret
                  key: APP_KEY
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: sunrise-secret
                  key: DB_HOST
            - name: DB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: sunrise-secret
                  key: DB_DATABASE
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: sunrise-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: sunrise-secret
                  key: DB_PASSWORD
            - name: MAIL_MAILER
              value: "ses"
            - name: MAIL_FROM_ADDRESS
              valueFrom:
                secretKeyRef:
                  name: sunrise-secret
                  key: MAIL_FROM_ADDRESS
            - name: MAIL_FROM_NAME
              value: "Sunrise"
            - name: FILAMENT_FILESYSTEM_DISK
              value: "s3"
            - name: FILESYSTEM_DISK
              value: "s3"
            - name: MEDIA_DISK
              value: "s3"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: sunrise-secret
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: sunrise-secret
                  key: AWS_SECRET_ACCESS_KEY
            - name: AWS_DEFAULT_REGION
              valueFrom:
                secretKeyRef:
                  name: sunrise-secret
                  key: AWS_DEFAULT_REGION
            - name: AWS_BUCKET
              valueFrom:
                secretKeyRef:
                  name: sunrise-secret
                  key: AWS_BUCKET
            - name: SENTRY_LARAVEL_DSN
              valueFrom:
                secretKeyRef:
                  name: sunrise-secret
                  key: SENTRY_LARAVEL_DSN
            - name: SENTRY_TRACES_SAMPLE_RATE
              value: "0.2"
            - name: SENTRY_PROFILES_SAMPLE_RATE
              value: "0.5"
