apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - https://github.com/knative/operator/releases/download/knative-v1.18.1/operator.yaml
  - https://raw.githubusercontent.com/knative-extensions/monitoring/main/grafana/dashboards.yaml
  - crd.yaml

patches:
  - patch: |
      $patch: delete
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: knative-eventing-dashboards
        namespace: knative-eventing
