apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://github.com/knative/operator/releases/download/knative-v1.10.2/operator.yaml
- https://github.com/knative/net-certmanager/releases/download/knative-v1.10.1/release.yaml
- crd.yaml

      

patches:
- path: config-certmanager.yaml
- patch: |-
    - op: replace
      path: /spec/template/metadata/annotations/cluster-autoscaler.kubernetes.io~1safe-to-evict
      value: "true"
  target:
    kind: Deployment
    name: operator-webhook
