apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd
resources:
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml?ref=v3.0.12
  - namespace.yaml
  - project.yaml
  - sealed-secret.yaml
  - ingress.yaml
  - basic-auth-sealed-secret.yaml

patches:
  - path: argocd-rbac-cm.yaml
  - path: argocd-application-controller.yaml
  - path: argocd-cmd-params-cm.yaml
    target:
      version: v1
      kind: ConfigMap
      name: argocd-cmd-params-cm
  - path: argocd-cm.yaml
    target:
      version: v1
      kind: ConfigMap
      name: argocd-cm
