apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd
bases:
  - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml?ref=v2.5.4

resources:
  - namespace.yaml
  - project.yaml
  - domain-mapping.yaml

patchesStrategicMerge:
  - argocd-cmd-params-cm.yaml
  - argocd-cm.yaml
